<!DOCTYPE html>
<html lang="ja">
<head>
  <mata charset="utf-8">
  <title>sinatra</title>
  <link rel="stylesheet" href="/css/style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<link rel="shortcut icon" href="/image/favicon.ico">

<body>
<h1 class="alert">メモは最低1つ必要です<h1>
<a href="/">戻る</a>
</body>
</html>
