
<form action="/memos/" method="post" class="memo-body">
      <div class="memo-title">
        <label for="title">タイトル</label>
        <textarea type="text" name="title" id="title" required></textarea>
      </div>
      <div class="memo-content">
        <label for="content">内容</label>
        <textarea rows="5" type="text" name="content" id="content"></textarea>
      </div>
        <div class="memo-submit">
        <input type="submit" value="保存">
</form>
