<!DOCTYPE html>
<html lang="ja">
<head>
  <mata charset="utf-8">
  <title>sinatra</title>
  <link rel="stylesheet" tyoe="text/css" href="css/style.css"
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  <h1>メモアプリ</h1>
  <div class="container">
    <div class="quadrant top-left">
    <h2 class="memo">メモ1</h2>
    <form actionn="" method="get" class="memo-enter">
      <div class="form-title">
          <a href="/reference">test</a>
      </div>
    </form>
  </div>
  <div class="quadrant top-right">
    <div class="memo">メモ2</div>
    <ol>
    <p><%= @title %></p>
    <p><%= @content %></p>
    </ol>
  </div>
  <div class="quadrant bottom-left">
    <div class="memo">メモ3</div>

  </div>
  <div class="quadrant bottom-right">
    <div class="memo">メモ4</div>
  </div>
  </div> 

</body>
</html>

