<!DOCTYPE html>
<html lang="ja">
<head>
  <mata charset="utf-8">
  <title>sinatra</title>
  <link rel="stylesheet" href="/css/style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <p><%= @title %></h1>
</head>
<link rel="shortcut icon" href="/image/favicon.ico">

<body>
  <h1>メモアプリ</h1>
  <div class="display">
    <%= yield %>
  </div>
</body>
</html>
