  <div class="memo-title"><%= h @memo["title"] %></div>
  <div class="memo-content"><%= h @memo["content"] %></div>
  <div class="ui">
  <form class="ui-button" action="/memos/<%= @id %>/edit" method="get">
    <button class="ui-button">編集</button>
  </form>
  <form "ui-button" action="/memos/<%= @id %>" method="post">
    <button class="ui-button" type="hidden" id="_method" name="_method" value="delete">削除</button>
  </form>
  </div>
