 <form class="memo-body" action="/memos/<%= @id %>" method="post">
      <div class="memo-title">
        <label for="title">タイトル</label>
        <textarea type="text" name="title" id="title" required><%= h @memo["title"] %></textarea>
      </div>
      <div class="memo-content">
        <label for="content">内容</label>
        <textarea rows="5" type="text" name="content" id="content"><%= h @memo["content"] %></textarea>
      </div>
      <button type="hidden" id="_method" name="_method" value="patch">変更</button>
  </form>
