body{ 
      background-color: brown;
}
.main-content{
      
      max-width: 100em;
      min-width: 5em;
      margin: 0 auto;
      position: relative;
      overflow: hidden;
}
.container{
      display: grid;
      margin:0 10em;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      height: 100vh;
    }

    .quadrant {
      overflow: auto;
      background-color: white;
      margin: 1em 10em;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 5px solid #ccc;
      box-sizing: border-box;
    }


    .memo {
      padding: 10px ;
    }

    .top-left { grid-column: 1; grid-row: 1; }
    .top-right { grid-column: 2; grid-row: 1; }
    .bottom-left { grid-column: 1; grid-row: 2; }
    .bottom-right { grid-column: 2; grid-row: 2; }
